.friends-list-item {
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.friends-list-item:hover {
    color: red;
}

.friends-list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friends-list-item-online {
    width: 10px;
    height: 10px;
    background-color: mediumseagreen;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.friends-list-item-offline {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.friends-list-item-avatar {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 0 20px 0 20px;
}

.friends-list-item-btn {
    margin: 0 10px 0 10px;
}
