* {
  box-sizing: border-box;
}

body {
  background-color: #27509e;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}